<!doctype html>
<html ng-app="TicTac">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Fascinate|Grand+Hotel' rel='stylesheet' type='text/css'>
    <title>Tic Tac Toe!</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/angular.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-controller="TicTacController">

    <h1>Tic Tac Toe</h1>
    <span ng-show="currentSymbol() == 'X'">{{player1}}'s Turn</span>
    <span ng-show="currentSymbol() == 'O'">{{player2}}'s Turn</span>
    <div id="container" ng-click='switch();'>

      <div ng-repeat="cellToken in cells track by $index" ng-class="{cell:true, clear:($index % 3 == 0), bottom: ($index == 6 || $index == 7 || $index == 8)}" 
      ng-click = "token($index);" >
          <div id="unicorn"><img src="img/magic_unicorn.png" ng-show="cells[$index] == 'X'">
            <img src="img/large_cute-flower.png" ng-show="cells[$index] == 'O'"></div>
      </div>

      
     

          
    </div>
    <section class="right-sidebar">
      <p>{{player1}}</p>
      <img src="img/magic_unicorn.png">
      <p>{{player2}}</p>
      <img src="img/large_cute-flower.png">
    </section>
    
<h1 ng-show="checkForTie() == true">TIE!!!!!</h1>
<h1 ng-show="checkForWin() == true">WIN!!!!<h1>
<div class= "reset" ng-click="reset()" ng-show="checkForWin() == true"><p>PLAY AGAIN</p></div>


  </body>
</html>
