body {
	background-image: url(http://fc07.deviantart.net/fs12/i/2006/299/0/d/Rainbow_Background_stock_2__by_SimplyBackgrounds.jpg);
	background-size: cover;
	color: black;
	text-align: center;
	font-family:'Grand Hotel', cursive; ;
}

#container {
	position: relative; 
	top: 40px;
	width: 460px;
	margin: 0 auto;
}

h1 { 
	text-align: center;
	color: #ff88ff;
	font-size: 60px;
	font-family: 'Fascinate', cursive;
}

h2 {
	color: yellow;
}


.cell {
	border-left: solid yellow 4px;
	border-bottom: solid yellow 4px;
	width: 150px;
	height: 150px;
	display: inline-block;
	float: left;
	
}
.clear {
	clear: both;
	border-left: none;
}
.bottom {
	border-bottom: none;
}
span {
	color: yellow;
	font-size: 30px;
	font-family: 'Grand Hotel', cursive;

}

img {
	height: 130px;
	width: 145px;
	padding-right: 5px;
	padding-top: 8px;

}

.right-sidebar {
	color: blue;
	position: absolute;
	display: inline-block;
	top: 175px;
	left: 100px;
	font-size: 40px;
	width: 200px;
	font-family: 'Grand Hotel', cursive;
	background-color: rgba(255, 255, 255, .6);
}

.reset {
	background-color: rgba(165, 40, 237, 0.6); 
	color: white;
	width: 100%;
	 
	position: absolute;
	left: -10px;
	top: 300px;
	margin: 0 auto;
}

.reset > h1 {
	color: white;
	position: relative;
	top: -10px;
}

